{% extends 'base.html' %}
{% block body %}
<div>
  <h3>Add a participant</h3>
  <form method = "POST" action= "{{url_for('add_participant')}}">
      {{form.csrf_token}}
      <p>{{form.first_name.label}} {{form.first_name(size=20,maxlength=50)}}</p>
      <p>{{form.last_name.label}} {{form.last_name(size=20,maxlength=50)}}</p>
      <p>{{form.age.label}} {{form.age(size=5,maxlength=3)}}</p>
      <p>{{form.gender.label}} {{form.gender()}}</p>
      <input type="submit" value="Add Participant">
  </form>
</div>
<p><a href="{{url_for("all_participants")}}">See all Participants</a></p>
<h3> Recently added participant details below </h3>
<h4> {{Name}} ---> {{Gender}} ---> {{Age}} </h4>
<div style="clear:both;"></div>
{% endblock %}
