{% extends 'base.html' %}
{% block body %}
  <h2>Hi Guys.. This is Mani Karthik!! Excited to meet you all!!</h2>
  <p>Data Science enthusiast pursuing PG in Great Lakes, Chennai.</p>
  <p>Quick learner, Team player, compassionate employee and with a mission to contribute in a Value oriented organization.</p>
  <p>2 years prior experience as Warhouse Associate in Order Fulfillment operations in Myntra.</p>
  <h3>Skills :</h3>
  <ul>
    <li>Python for DS - Numpy, Pandas, Scikit-Learn</li>
    <li>MySQL</li>
    <li>Statistics</li>
    <li>Supervised & Unsupervised ML</li>
    <li>Excel</li>
  </ul>
  <img src="{{url_for('static',filename='images/Profile-pic.jpg')}}" />
{% endblock %}
