{% extends 'base.html' %}
{% block body %}
{% if details %}
  <p><a href="{{url_for("add_participant")}}">Add a new participant</a></p>
  <p><a href="{{url_for("all_participants")}}">See all participants</a></p>
  <h2>Participant Details</h2>
  <form method = "POST" id = "form_update">
    {{form_update.csrf_token}}
    <h3>Participant ID : {{details.id}}</h3>
    <p>{{form_update.first_name.label}} {{form_update.first_name}}</p>
    <p>{{form_update.last_name.label}} {{form_update.last_name}}</p>
    <p>{{form_update.age.label}} {{form_update.age}}</p>
    <p>{{form_update.gender.label}} {{form_update.gender}}</p>
    <input type = "submit" value = "Save" />
    <input type = "submit" formaction = "{{url_for("search")}}" value = "Cancel" />
  </form>
{% endif %}
{% if not details %}
  <p>Participant Details not available</p>
  <p><a href="{{url_for("add_participant")}}">Add a new participant</a></p>
  <p><a href="{{url_for("all_participants")}}">See all participants</a></p>
{% endif %}
{% endblock %}
